{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    <h2 class="about-title mb-4">About Me</h2>

    <div class="about-content">
        <p class="about-introduction">

        </p>

        <h3 class="about-heading mt-4">Background</h3>
        <p class="about-paragraph">
            I began my journey in programming a couple of years before I started studying computing at NRC. While I was still studying business, I
            started following a few Python beginner tutorials on YouTube and also started learning how to use some more advanced Python
            libraries such as pygame where I created a few small games just as a hobby. At this point I was doing an evening course in business which would
            lead me onto the degree at Ulster university, which was also one evening a week while also working the other four and a half days a week.
            At the end of the two years of the HNC, I decided to take a years break from studying and work full time and decide what I wanted to do.
            But by the end of that summer I had seen the foundation degree on the NRC website and after a day or two of thinking about it, I realised that
            programming is what I really wanted to do, so I applied.
        </p>

        <h3 class="about-heading mt-4">Foundation Degree</h3>
        <p class="about-paragraph">
            I really enjoyed my two years doing the foundation degree. I learned not only more python but also learned Java,
            C#, SQL, HTML and CSS and built an online booking system in Django. I also covered other topics such as networking, mathmatics for
            computing, relational databases and linux.
        </p>

        <h3 class="about-heading mt-4">Goals & Aspirations</h3>
        <p class="about-paragraph">
            My overall goal at this time is to graduate from my degree with a first overall and to
            get a graduate role in software engineering as this is the area of computer science i
            most enjoy and where i have the most skills.
        </p>

        <h3 class="about-heading mt-4">Personal Interests</h3>
        <p class="about-paragraph">
            In my free time, I enjoy reading books and exploring topics like science, history, and politics as well as fiction books.
            I’m also passionate about sports, particularly football and Gaelic football, and I like playing pool and snooker.
            Above all, I value spending time with my friends and family.
        </p>


    </div>
</div>



{% endblock %}